header{
    border:solid 5px black;
    width: 70%;
    height: 150px;
    background-color: beige;
    margin: auto;
    margin-bottom: 10px;
}

.body{
    border:solid 5px black;
    width: 70%;
    min-height: 350px;
    background-color: goldenrod;
    margin: auto;
    margin-bottom: 10px;
}

footer{
    border:solid 5px black;
    width: 70%;
    height: 50px;
    background-color: green;
    margin: auto;
    margin-bottom: 10px;
}