form{
    width: 100%;
    min-height: 30px;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap{
    width: 80%;
    min-height: 30px;
    margin: auto;
    box-shadow: 0px 0px 15px green;
    border-radius: 8px;
    padding-bottom: 30px;
}

form button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    background-color: indianred;
    color: white;
    border: none;
}

form button:hover{
    background-color: rgb(240, 74, 74);
    cursor: pointer;
    font-size: 25px;
}
.task{
    width: 95%;
    min-height: 60px;
    border-left: 2px solid gray;
    margin-bottom: 20px;
    padding: 8px;
    text-align: left;
}
body{
    text-align: center;
}

.result{
    width: 800px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    color: gray;
    font-style: italic;
}

h4{
    font-size: 12px;
    color: gray;
    font-style: italic;
}